## Author :- Jay Faldu
#### Email id :- jay.faldu928@gmail.com

# ----------------------------------------------------------------------------------------
# Applied Data science Capstone Project
# ----------------------------------------------------------------------------------------

### Introduction of project:-

    This project is part of IBM Data Science Professional certification.

###     




### let's start the project!!!

In [1]:
!pip install geopy
!pip install lxml
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import folium
import requests
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors
from IPython.display import HTML

Requirement already satisfied: geopy in c:\users\administrator\anaconda3\lib\site-packages (1.22.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\administrator\anaconda3\lib\site-packages (from geopy) (1.50)
Requirement already satisfied: lxml in c:\users\administrator\anaconda3\lib\site-packages (4.5.0)

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

#  







# Load the Data from wikipedia (week :- 3 , part :- 1)

In [3]:
raw_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)
data = pd.DataFrame(raw_data[0]).dropna(subset=['Neighborhood']).reset_index(drop=True)
data.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
data.shape

(103, 3)

#    






# (week :- 3 , part :- 2)

In [5]:
PC = pd.read_csv('https://cocl.us/Geospatial_data')
PC

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [6]:
longitude = list()

latitude=[]
longitude=[]

for pc in data['Postal Code']:
    i = PC.index[PC['Postal Code'] == pc].values
    latitude.append(PC.loc[i, 'Latitude'])
    longitude.append(PC.loc[i, 'Longitude'])

data['Latitude'] = latitude
data['Longitude'] = longitude

data.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,"25 43.753259 Name: Latitude, dtype: float64","25 -79.329656 Name: Longitude, dtype: float64"
1,M4A,North York,Victoria Village,"34 43.725882 Name: Latitude, dtype: float64","34 -79.315572 Name: Longitude, dtype: float64"
2,M5A,Downtown Toronto,"Regent Park, Harbourfront","53 43.65426 Name: Latitude, dtype: float64","53 -79.360636 Name: Longitude, dtype: float64"
3,M6A,North York,"Lawrence Manor, Lawrence Heights","71 43.718518 Name: Latitude, dtype: float64","71 -79.464763 Name: Longitude, dtype: float64"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government","85 43.662301 Name: Latitude, dtype: float64","85 -79.389494 Name: Longitude, dtype: float64"

In [7]:
data.shape

(103, 5)